@import "../less-lib/lib.less";//共通ライブラリ
@import "reset.less";
@import "base.less";
/* main.css */
html,body{
	position: relative;
}
*{
	.box-sizing(border-box);
}
main{

}
table{
	background-color:#FFFFFF;
	margin:0 auto;
	td{
		width:40px;
		height:40px;
		vertical-align: center;
		text-align: center;
		border:2px solid black;
		font-size:30px;
	}
}
.console{
	margin-top:20px;
}
.error{
	background-color:red;
	color:#FFFFFF;
}
.hint{
	color:#0000FF;
}
.selected{
	background-color:fade(red,50%);
	outline:2px solid red;
	border-color:red;
}